#
# IP Address and Name of Interface 1, plus
# IP Address and MAC Address of Gateway 1
ip1 = a.b.c.d
if1 = eth0
gw1ip = x.x.x.x
# Optional
;gw1mac = aa:aa:aa:aa:aa
;ip1speed = 1500	# In kilobytes, not kilobits

#
# IP Address and Name of Interface 2, plus
# IP Address and MAC Address of Gateway 2
ip2 = w.x.y.z
if2 = eth2
gw2ip = y.y.y.y
# Optional
;gw2mac = bb:bb:bb:bb:bb
;ip2speed = 1500	# In kilobytes, not kilobits

#
# SNAT
# These source address will be Source NAT'ed as they exit outbound
snat = 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8

#
# DEFAULT POLICY
# Anything not matched in the POLICIES (below) will be
# subject to default routing
#      gw1 = Route via gw1
#      gw2 = Route via gw2
# balanced = round-robin balance between both gateways
default = balanced

#
# POLICIES
#
port = 80 gw2	# WEB
port = 443 gw2	# WEB
port = 21 gw1	# FTP
port = 22 gw2	# SSH
destination = 74.125.0.0/16 gw1	# GMail IMAP
destination = 209.0.0.0/8 gw1	# IP-Chicken is here
proto = icmp gw2		# ICMP via gateway 2
